<table>
  <tr>
    <th class="border-2">User</th>
    <th class="border-2">File</th>
  </tr>
    <% @users.each do |user| %>
      <tr>
        <td class="border-1"><%=user.name %></td>
        <td class="border-1"><%=user.avatar %></td>
      </tr>
    <% end %>
 
  <tr></tr>
</table>
