<h1 class="text-center">Posts</h1>
<%= render "view_posts"%>


<script type="text/javascript">
  deleteButton = document.querySelectorAll(".delete-btn");
  console.log('dlt-btn');
  function deleteConfirmation(e){
    if (confirm("Are you sure?")) {
      console.log('submit')
    }else {
      console.log('cancel')
      e.preventDefault();
    }
  };

  for(var i = 0; i< deleteButton.length; i++) {
    deleteButton[i].addEventListener("click", deleteConfirmation);
  }
</script>

